{% extends 'base.html' %}


<body>
{% block content %}
<form method="POST" action="/update/{{ rewan2.id }}">
    {% csrf_token %}
<table>
    <tr><td><input type="text" name="id"  value="{{ rewan2.id }}"/></td></tr>
    <tr><td><input type="text" name="name" required maxlength="100" id="id_name" value="{{ rewan2.name}}"/></td></tr>
    <tr><td><input type="text" name="description" required maxlength="254" id="id_description" value="{{ rewan2.description}}"/></td></tr>
    <tr><td><input type="text" name="price" required maxlength="15" id="id_price" value="{{ rewan2.price}}"/></td></tr>
    <tr><td><input type="datetime" name="created_at"  id="id_created_at" value="{{ rewan2.created_at}}"/></td></tr>
    <tr><td><button type="submit">Update</button></td></tr>
</table>
</form>
{% endblock %}
</body>
